.nav-bar {
    width: 100%; /* Full-width */
    
    overflow: auto; /* Overflow due to float */
    
}

.nav-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 34px; /* Increased font size */
    
}

.nav-bar a:hover {
    background-color: rgb(0, 0, 0, 0.75); /* Add a hover color */
}

.active {
    background-color:; /* Add an active/current color */
}

h1 {
    padding: 100px;
    font-size: 80px;
    color: white;
}

h2 {
    color:white;
    padding-left: 100px;
    font-size: 45px;

}
html{
    background-color: white;
    background-image: url(https://aaroncosmith.github.io/images/beachcliff.JPG);
    background-repeat: no-repeat;
    background-position: middle;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    
}

.main-container {
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 0px;
    display: flex;
    justify-content: center;
    margin: 70px;
    color: white;
    font-size: 25px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(77, 77, 77, 0.5);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;

.second-box {
    justify-content: center;
    text-align: center;
}